.App {
  font-family: sans-serif;
  text-align: center;
}

.App h1 {
  margin: 0 auto;
  width: 50vw;
  padding: 20px;
  background-color: #220070;
  color: #7ad9c4;
  font-weight: bold;
}

.todo {
  margin: 0 auto;
  width: 50vw;
  padding: 20px;
  background-color: #220070;
  color: #7ad9c4;
  font-size: 20px;
  font-weight: bold;
}

.todolist {
  margin: 0 auto;
  width: 50vw;
  display: flex;
}

.todolistele {
  flex: 1;
}

.btn {
  width: 100px;
  padding: 10px;
  background-color: #7ad9c4;
  border-radius: 15px;
  border: none;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background-color: #220070;
  border: 2px solid #7ad9c4;
  color: #7ad9c4;
}

.form-div {
  margin: 0 auto;
  width: 50vw;
  padding: 20px;
  background-color: #220070;
  color: #7ad9c4;
  font-weight: bold;
}

.form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  background-color: #7ad9c4;
  box-sizing: border-box;
}

::placeholder {
  color: #220070;
  font-size: medium;
  font-weight: bold;
  opacity: 0.7;
}
